<div class="card shadow rounded" id="widget-{{key}}">
    <div class="card-header">
        <img src="{{picture}}" style="height: 70px; width: 70px;" class="rounded-circle" alt="/images/image-not-found.png">
        <h3>{{name}}</h3>
    </div>
    <div class="card-body">
        <button type="button" class="close widget-close" aria-label="Close" id="widget-close-{{key}}">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="font-weight-bold" style="font-size: 20px">Number of games : {{number}}</p>
        <div class="panel-body">
            <ul class="list-group">
                {{#each games}}
                    <li class="list-group-item"><strong>{{this.name}}</strong>
                        <img style="width: 60%;" src="https://steamcdn-a.akamaihd.net/steam/apps/{{this.appid}}/header.jpg" alt="/images/image-not-found.png">
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>