<div class="card shadow rounded" id="widget-{{key}}">
    <img class="card-img-top" src="{{picture}}" alt="/images/image-not-found.png">
    <div class="card-header">
        <h3>{{name}}</h3>
    </div>
    <div class="card-body">
        <button type="button" class="close widget-close" aria-label="Close" id="widget-close-{{key}}">
            <span aria-hidden="true">&times;</span>
        </button>
        <p class="font-weight-bold" style="font-size: 20px">Number of current players : {{players}}</p>

    </div>
</div>